


.carroCompra {
    width: 250px;
    height: 10vh;
    color: #000;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 40px;
}

.carrito{
    font-size: 35px;
    color: rgb(119, 78, 2);
    margin-top: 10px;
}