form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn_comprar{
    background: burlywood;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

.btn_comprar:hover{
    background-color: green;
}

.btn_form{
    text-align: center;
}